//! **************************************************************************
// Written by: Map P.20131013 on Wed May 06 13:51:10 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "A9" LEVEL 1;
COMP "sevenOut<10>" LOCATE = SITE "M16" LEVEL 1;
COMP "sevenOut<11>" LOCATE = SITE "K15" LEVEL 1;
COMP "sevenOut<0>" LOCATE = SITE "K3" LEVEL 1;
COMP "sevenOut<1>" LOCATE = SITE "M1" LEVEL 1;
COMP "sevenOut<2>" LOCATE = SITE "M2" LEVEL 1;
COMP "sevenOut<3>" LOCATE = SITE "R1" LEVEL 1;
COMP "sevenOut<4>" LOCATE = SITE "R2" LEVEL 1;
COMP "sevenOut<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "sevenOut<6>" LOCATE = SITE "R7" LEVEL 1;
COMP "sevenOut<7>" LOCATE = SITE "R15" LEVEL 1;
COMP "sevenOut<8>" LOCATE = SITE "R16" LEVEL 1;
COMP "sevenOut<9>" LOCATE = SITE "M15" LEVEL 1;
COMP "DEBUGLED" LOCATE = SITE "B15" LEVEL 1;
SCHEMATIC END;

